*
{
    font-family: 'Raleway', sans-serif;
}

.home
{
    display: flex;
} 

#homePage
{
    background-color: white;
} 

#name
{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    text-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    text-align: center;
}

.buttonContainer
{
    display: flex;
    margin: auto;
    padding: 10px;
    justify-content: center;
    width: 100%;
}

#buttons
{
    justify-content: space-between;
}

button {
    font-weight: bold;
    background-color: white;
    color: hsl(0, 0%, 13%);
    border: 2.5px solid black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.5s;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

button:hover
{
    background-color: black;
    color: white;
}

#description
{
    font-size: 1.2em;
    color: black;
    /* text-shadow: 2px 2px 10px hsl(240, 3%, 5%); */
    text-align: center;
}

#aboutPage
{
    /* background-image: linear-gradient(to right bottom, #d16ba5, #a35d97, #784f84, #51406b, #303050, #293654, #213b57, #1b4059, #1a617b, #17849a, #23a8b4, #44cdc7); */
    background-color: black;
}

#question
{
    font-family: 'Space Mono', monospace;
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 2px 2px 5px hsl(0, 0%, 0%,);
    text-align: left;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#text
{    
    font-family: 'Space Mono', monospace;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 10px hsl(0, 0%, 0%, 0.2);

}

 #left
 {
     text-align: left;
 }

#right
{
    text-align: right;
}

#projectPage
{
    /* background-image: linear-gradient(to right top, #d16ba5, #a35d97, #784f84, #51406b, #303050, #293654, #213b57, #1b4059, #1a617b, #17849a, #23a8b4, #44cdc7); */
    background-color: white;
}
